                                         VALORES NULOS ACTIVIDAD 3.2 (PAIS VENECIA)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Cargar desde un archivo .csv sin indice
data=pd.read_csv("Venecia_pais.csv")
data

,id,name,description,neighborhood_overview,host_id,host_name,host_since,host_location,host_about,host_response_time,...,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,6.623000e+03,Venice Blue on Canal apartment,"I'm thrilled to share my ""Blue on Venice Canal...",Close by is the Frari Church (known as Tiziano...,15016,Francesca,27/04/2009,"Venice, Italy","I'm usually happy and busy, often compelled to...",within an hour,...,2,0,4.94,4.96,4.99,4.89,4.86,4.96,4.92,1.03
1,2.711600e+04,Junior Suite with balcony overlooking canal,"Few steps from Saint Mark square, on a picture...","The area is very beautiful and characteristic,...",116144,GiÃ²&GiÃ²,30/04/2010,"Venice, Italy",NaN,NaN,...,0,0,4.84,4.84,4.90,4.78,4.81,4.94,4.78,2.41
2,4.452700e+04,Historical Luxury Apartment on Calm Sunny Canal,Descend a spiral staircase to discover an apar...,"Cannaregio is a well-connected, truly Venetian...",120215,Marc & Elisabeth,07/05/2010,"Venice, Italy","I (Marc) have lived in Venice all my life, stu...",within an hour,...,22,0,4.86,4.82,4.73,4.93,4.93,4.90,4.69,0.87
3,4.738300e+04,Ca' Barba B&B: room n102 (jacuzzi shower),"Ca' Barb B&B, a few steps away from Rialto bri...",San Polo is highly rated by guests for walking...,214390,Alessandro,27/08/2010,"Venice, Italy",I was born in Venice and grown... in Venice......,within an hour,...,28,0,4.93,4.95,4.99,4.98,4.98,4.95,4.88,2.35
4,4.754900e+04,Ca' Barba Apartment,The Apartment is arranged on two floors. On th...,At Ca' Barba Venetian life opens up before you...,215652,Caterina E Alessandro,28/08/2010,"Venice, Italy","Ciao everybody, \r\nwe are brother and sister,...",within an hour,...,0,0,4.80,4.92,4.86,4.99,4.96,4.97,4.82,0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8317,1.237620e+18,double or twin deluxe room,Youâ€™ll love the stylish decor of this charmi...,NaN,597681399,Al Mamun,22/08/2024,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8318,1.237620e+18,double or twin deluxe room,Youâ€™ll love the stylish decor of this charmi...,NaN,597681399,Al Mamun,22/08/2024,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8319,1.237690e+18,triple room,Youâ€™ll love the stylish decor of this charmi...,NaN,597681399,Al Mamun,22/08/2024,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8320,1.237700e+18,triple room,Youâ€™ll love the stylish decor of this charmi...,NaN,597681399,Al Mamun,22/08/2024,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8321,1.237710e+18,triple room,Youâ€™ll love the stylish decor of this charmi...,NaN,597681399,Al Mamun,22/08/2024,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Identificar cuantos valores nulos tengo por columnas
valores_nulos=data.isnull().sum()
valores_nulos

id                                 0
name                               0
description                      319
neighborhood_overview           3422
host_id                            0
host_name                          0
host_since                         0
host_location                   1966
host_about                      3879
host_response_time               856
host_response_rate               856
host_acceptance_rate             574
neighbourhood                   3422
neighbourhood_cleansed             0
neighbourhood_group_cleansed       0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                        906
bathrooms_text                    11
bedrooms                         171
beds                             913
amenities                          0
price                            903
minimum_nights                     0
maximum_nights                     0
minimum_minimum_nights             0
maximum_minimum_nights             0
minimum_maximum_nights             0
maximum_maximum_nights             0
minimum_nights_avg_ntm             0
maximum_nights_avg_ntm             0
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
review_scores_rating             780
review_scores_accuracy           780
review_scores_cleanliness        780
review_scores_checkin            780
review_scores_communication      780
review_scores_location           781
review_scores_value              780
reviews_per_month                780
dtype: int64

In [7]:
#Identificar valores nulos por dataframe
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(24439)

In [23]:
#Identificar cuantos valores nulos tengo por columnas
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(24120)

Métodos de Sustitución de Valores Nulos

In [ ]:
#columna---description------
#Sustituir valores nulos por un string en concreto
data["description"]=data["description"].fillna("No disponible")

In [22]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                 0
name                               0
description                        0
neighborhood_overview           3422
host_id                            0
host_name                          0
host_since                         0
host_location                   1966
host_about                      3879
host_response_time               856
host_response_rate               856
host_acceptance_rate             574
neighbourhood                   3422
neighbourhood_cleansed             0
neighbourhood_group_cleansed       0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                        906
bathrooms_text                    11
bedrooms                         171
beds                             913
amenities                          0
price                            903
minimum_nights                     0
maximum_nights                     0
minimum_minimum_nights             0
maximum_minimum_nights             0
minimum_maximum_nights             0
maximum_maximum_nights             0
minimum_nights_avg_ntm             0
maximum_nights_avg_ntm             0
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
review_scores_rating             780
review_scores_accuracy           780
review_scores_cleanliness        780
review_scores_checkin            780
review_scores_communication      780
review_scores_location           781
review_scores_value              780
reviews_per_month                780
dtype: int64

In [25]:
#columna---neighborhood_overview ------
#Sustituir valores nulos por un string en concreto
data["neighborhood_overview"]=data["neighborhood_overview"].fillna("No disponible")

In [26]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                 0
name                               0
description                        0
neighborhood_overview              0
host_id                            0
host_name                          0
host_since                         0
host_location                   1966
host_about                      3879
host_response_time               856
host_response_rate               856
host_acceptance_rate             574
neighbourhood                   3422
neighbourhood_cleansed             0
neighbourhood_group_cleansed       0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                        906
bathrooms_text                    11
bedrooms                         171
beds                             913
amenities                          0
price                            903
minimum_nights                     0
maximum_nights                     0
minimum_minimum_nights             0
maximum_minimum_nights             0
minimum_maximum_nights             0
maximum_maximum_nights             0
minimum_nights_avg_ntm             0
maximum_nights_avg_ntm             0
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
review_scores_rating             780
review_scores_accuracy           780
review_scores_cleanliness        780
review_scores_checkin            780
review_scores_communication      780
review_scores_location           781
review_scores_value              780
reviews_per_month                780
dtype: int64

In [27]:
#Columna---host_location ------
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ff")
#Filtro por columnas
data["host_location"] =data["host_location"].fillna(method="ffill")

C:\Users\HP\AppData\Local\Temp\ipykernel_4040\701506464.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["host_location"] =data["host_location"].fillna(method="ffill")

In [28]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                 0
name                               0
description                        0
neighborhood_overview              0
host_id                            0
host_name                          0
host_since                         0
host_location                      0
host_about                      3879
host_response_time               856
host_response_rate               856
host_acceptance_rate             574
neighbourhood                   3422
neighbourhood_cleansed             0
neighbourhood_group_cleansed       0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                        906
bathrooms_text                    11
bedrooms                         171
beds                             913
amenities                          0
price                            903
minimum_nights                     0
maximum_nights                     0
minimum_minimum_nights             0
maximum_minimum_nights             0
minimum_maximum_nights             0
maximum_maximum_nights             0
minimum_nights_avg_ntm             0
maximum_nights_avg_ntm             0
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
review_scores_rating             780
review_scores_accuracy           780
review_scores_cleanliness        780
review_scores_checkin            780
review_scores_communication      780
review_scores_location           781
review_scores_value              780
reviews_per_month                780
dtype: int64

In [29]:
#Columna---host_about ------
#Sustituir valores nulos por un string en concreto
data["host_about"]=data["host_about"].fillna("No disponible")

In [30]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                 0
name                               0
description                        0
neighborhood_overview              0
host_id                            0
host_name                          0
host_since                         0
host_location                      0
host_about                         0
host_response_time               856
host_response_rate               856
host_acceptance_rate             574
neighbourhood                   3422
neighbourhood_cleansed             0
neighbourhood_group_cleansed       0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                        906
bathrooms_text                    11
bedrooms                         171
beds                             913
amenities                          0
price                            903
minimum_nights                     0
maximum_nights                     0
minimum_minimum_nights             0
maximum_minimum_nights             0
minimum_maximum_nights             0
maximum_maximum_nights             0
minimum_nights_avg_ntm             0
maximum_nights_avg_ntm             0
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
review_scores_rating             780
review_scores_accuracy           780
review_scores_cleanliness        780
review_scores_checkin            780
review_scores_communication      780
review_scores_location           781
review_scores_value              780
reviews_per_month                780
dtype: int64

In [37]:
#Columna---host_response_time  ------
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ff")
#Filtro por columnas
data["host_response_time"] =data["host_response_time"].fillna(method="ffill")

C:\Users\HP\AppData\Local\Temp\ipykernel_4040\1980732667.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["host_response_time"] =data["host_response_time"].fillna(method="ffill")

In [38]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                 0
name                               0
description                        0
neighborhood_overview              0
host_id                            0
host_name                          0
host_since                         0
host_location                      0
host_about                         0
host_response_time                 0
host_response_rate               856
host_acceptance_rate             574
neighbourhood                   3422
neighbourhood_cleansed             0
neighbourhood_group_cleansed       0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                        906
bathrooms_text                    11
bedrooms                         171
beds                             913
amenities                          0
price                            903
minimum_nights                     0
maximum_nights                     0
minimum_minimum_nights             0
maximum_minimum_nights             0
minimum_maximum_nights             0
maximum_maximum_nights             0
minimum_nights_avg_ntm             0
maximum_nights_avg_ntm             0
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
review_scores_rating             780
review_scores_accuracy           780
review_scores_cleanliness        780
review_scores_checkin            780
review_scores_communication      780
review_scores_location           781
review_scores_value              780
reviews_per_month                780
dtype: int64

In [39]:
#Columna---host_response_rate------
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ff")
#Filtro por columnas
data["host_response_rate"] =data["host_response_rate"].fillna(method="ffill")

C:\Users\HP\AppData\Local\Temp\ipykernel_4040\2648354007.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["host_response_rate"] =data["host_response_rate"].fillna(method="ffill")

In [40]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                 0
name                               0
description                        0
neighborhood_overview              0
host_id                            0
host_name                          0
host_since                         0
host_location                      0
host_about                         0
host_response_time                 0
host_response_rate                 0
host_acceptance_rate             574
neighbourhood                   3422
neighbourhood_cleansed             0
neighbourhood_group_cleansed       0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                        906
bathrooms_text                    11
bedrooms                         171
beds                             913
amenities                          0
price                            903
minimum_nights                     0
maximum_nights                     0
minimum_minimum_nights             0
maximum_minimum_nights             0
minimum_maximum_nights             0
maximum_maximum_nights             0
minimum_nights_avg_ntm             0
maximum_nights_avg_ntm             0
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
review_scores_rating             780
review_scores_accuracy           780
review_scores_cleanliness        780
review_scores_checkin            780
review_scores_communication      780
review_scores_location           781
review_scores_value              780
reviews_per_month                780
dtype: int64

In [47]:
#Columna---host_acceptance_rate------
##Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ff")
data["host_acceptance_rate"] =data["host_acceptance_rate"].fillna(method="ffill")

C:\Users\HP\AppData\Local\Temp\ipykernel_4040\3326286197.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["host_acceptance_rate"] =data["host_acceptance_rate"].fillna(method="ffill")

In [48]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                 0
name                               0
description                        0
neighborhood_overview              0
host_id                            0
host_name                          0
host_since                         0
host_location                      0
host_about                         0
host_response_time                 0
host_response_rate                 0
host_acceptance_rate               0
neighbourhood                   3422
neighbourhood_cleansed             0
neighbourhood_group_cleansed       0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                        906
bathrooms_text                    11
bedrooms                         171
beds                             913
amenities                          0
price                            903
minimum_nights                     0
maximum_nights                     0
minimum_minimum_nights             0
maximum_minimum_nights             0
minimum_maximum_nights             0
maximum_maximum_nights             0
minimum_nights_avg_ntm             0
maximum_nights_avg_ntm             0
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
review_scores_rating             780
review_scores_accuracy           780
review_scores_cleanliness        780
review_scores_checkin            780
review_scores_communication      780
review_scores_location           781
review_scores_value              780
reviews_per_month                780
dtype: int64

In [51]:
#Columna---neighbourhood------
#Sustituir valores nulos por un string en concreto
data["neighbourhood"]=data["neighbourhood"].fillna("Venice,Veneto,Italy")

In [52]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                0
name                              0
description                       0
neighborhood_overview             0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                       906
bathrooms_text                   11
bedrooms                        171
beds                            913
amenities                         0
price                           903
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
review_scores_rating            780
review_scores_accuracy          780
review_scores_cleanliness       780
review_scores_checkin           780
review_scores_communication     780
review_scores_location          781
review_scores_value             780
reviews_per_month               780
dtype: int64

In [58]:
#Columna---bathrooms------
#Sustituir valores nulos con media
data["bathrooms"]=data["bathrooms"].fillna(round(data["bathrooms"].mean(),1))

In [59]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                0
name                              0
description                       0
neighborhood_overview             0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bathrooms_text                   11
bedrooms                        171
beds                            913
amenities                         0
price                           903
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
review_scores_rating            780
review_scores_accuracy          780
review_scores_cleanliness       780
review_scores_checkin           780
review_scores_communication     780
review_scores_location          781
review_scores_value             780
reviews_per_month               780
dtype: int64

In [60]:
#Columna---bathrooms_text------
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ff")
data["bathrooms_text"] =data["bathrooms_text"].fillna(method="ffill")

C:\Users\HP\AppData\Local\Temp\ipykernel_4040\3013960432.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["bathrooms_text"] =data["bathrooms_text"].fillna(method="ffill")

In [61]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                0
name                              0
description                       0
neighborhood_overview             0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bathrooms_text                    0
bedrooms                        171
beds                            913
amenities                         0
price                           903
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
review_scores_rating            780
review_scores_accuracy          780
review_scores_cleanliness       780
review_scores_checkin           780
review_scores_communication     780
review_scores_location          781
review_scores_value             780
reviews_per_month               780
dtype: int64

In [62]:
#Columna---bedrooms------
#Sustituir valores nulos con la media
data["bedrooms"]=data["bedrooms"].fillna(round(data["bedrooms"].mean(),1))

In [63]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                0
name                              0
description                       0
neighborhood_overview             0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bathrooms_text                    0
bedrooms                          0
beds                            913
amenities                         0
price                           903
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
review_scores_rating            780
review_scores_accuracy          780
review_scores_cleanliness       780
review_scores_checkin           780
review_scores_communication     780
review_scores_location          781
review_scores_value             780
reviews_per_month               780
dtype: int64

In [64]:
#Columna---beds------
#Sustituir valores nulos con la media
data["beds"]=data["beds"].fillna(round(data["beds"].median(),1))

In [65]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                0
name                              0
description                       0
neighborhood_overview             0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bathrooms_text                    0
bedrooms                          0
beds                              0
amenities                         0
price                           903
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
review_scores_rating            780
review_scores_accuracy          780
review_scores_cleanliness       780
review_scores_checkin           780
review_scores_communication     780
review_scores_location          781
review_scores_value             780
reviews_per_month               780
dtype: int64

In [66]:
#Columna---review_scores_communication------
#Sustituir valores nulos con la media
data["review_scores_communication"]=data["review_scores_communication"].fillna(round(data["review_scores_communication"].mean(),2))

In [67]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                0
name                              0
description                       0
neighborhood_overview             0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bathrooms_text                    0
bedrooms                          0
beds                              0
amenities                         0
price                           903
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
review_scores_rating            780
review_scores_accuracy          780
review_scores_cleanliness       780
review_scores_checkin           780
review_scores_communication       0
review_scores_location          781
review_scores_value             780
reviews_per_month               780
dtype: int64

In [68]:
#Columna---review_scores_location------
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ff")
#Filtro por columnas
data["review_scores_location"] =data["review_scores_location"].fillna(method="ffill")

C:\Users\HP\AppData\Local\Temp\ipykernel_4040\1883025794.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["review_scores_location"] =data["review_scores_location"].fillna(method="ffill")

In [69]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                0
name                              0
description                       0
neighborhood_overview             0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bathrooms_text                    0
bedrooms                          0
beds                              0
amenities                         0
price                           903
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
review_scores_rating            780
review_scores_accuracy          780
review_scores_cleanliness       780
review_scores_checkin           780
review_scores_communication       0
review_scores_location            0
review_scores_value             780
reviews_per_month               780
dtype: int64

In [72]:
#Columna---review_scores_value------
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ff")
#Filtro por columnas
data["review_scores_value"] =data["review_scores_value"].fillna(method="ffill")

C:\Users\HP\AppData\Local\Temp\ipykernel_4040\1778362336.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["review_scores_value"] =data["review_scores_value"].fillna(method="ffill")

In [73]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                0
name                              0
description                       0
neighborhood_overview             0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bathrooms_text                    0
bedrooms                          0
beds                              0
amenities                         0
price                           903
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
review_scores_rating            780
review_scores_accuracy          780
review_scores_cleanliness       780
review_scores_checkin           780
review_scores_communication       0
review_scores_location            0
review_scores_value               0
reviews_per_month               780
dtype: int64

In [74]:
#Columna---reviews_per_month------
#Sustituir valores nulos con la media
data["reviews_per_month"]=data["reviews_per_month"].fillna(round(data["reviews_per_month"].mean(),2))

In [75]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                0
name                              0
description                       0
neighborhood_overview             0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bathrooms_text                    0
bedrooms                          0
beds                              0
amenities                         0
price                           903
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
review_scores_rating            780
review_scores_accuracy          780
review_scores_cleanliness       780
review_scores_checkin           780
review_scores_communication       0
review_scores_location            0
review_scores_value               0
reviews_per_month                 0
dtype: int64

In [76]:
#Identificar cuantos valores nulos tengo por columnas
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(4023)

In [82]:
valores_nulos = data.isnull().sum()
valores_nulos

id                                0
name                              0
description                       0
neighborhood_overview             0
host_id                           0
host_name                         0
host_since                        0
host_location                     0
host_about                        0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
neighbourhood                     0
neighbourhood_cleansed            0
neighbourhood_group_cleansed      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bathrooms_text                    0
bedrooms                          0
beds                              0
amenities                         0
price                           903
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
review_scores_rating            780
review_scores_accuracy          780
review_scores_cleanliness       780
review_scores_checkin           780
review_scores_communication       0
review_scores_location            0
review_scores_value               0
reviews_per_month                 0
dtype: int64

In [84]:
data['price'].isnull().any()

np.True_

In [85]:
#Columna---price------
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ff")
#Filtro por columnas
data["price"] =data["price"].fillna(method="ffill")

C:\Users\HP\AppData\Local\Temp\ipykernel_4040\3501513995.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["price"] =data["price"].fillna(method="ffill")

In [88]:
#Identificar cuantos valores nulos tengo por columnas
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(3120)

In [89]:
data['minimum_nights'].isnull().any()

np.False_

In [90]:
data['maximum_nights'].isnull().any()

np.False_

In [91]:
data['minimum_minimum_nights'].isnull().any()

np.False_

In [92]:
data['maximum_minimum_nights'].isnull().any()

np.False_

In [94]:
data['minimum_maximum_nights'].isnull().any()

np.False_

In [97]:
data['maximum_maximum_nights'].isnull().any()

np.False_

In [98]:
data['minimum_nights_avg_ntm'].isnull().any()

np.False_

In [100]:
data['maximum_nights_avg_ntm'].isnull().any()

np.False_

In [101]:
data['availability_30'].isnull().any()

np.False_

In [102]:
data['availability_60'].isnull().any()

np.False_

In [103]:
data['availability_90'].isnull().any()

np.False_

In [104]:
data['availability_365'].isnull().any()

np.False_

In [105]:
data['calendar_last_scraped'].isnull().any()

np.False_

In [106]:
data['number_of_reviews'].isnull().any()

np.False_

In [107]:
data['number_of_reviews_ltm'].isnull().any()

np.False_

In [108]:
data['number_of_reviews_l30d'].isnull().any()

np.False_

In [109]:
data['review_scores_rating'].isnull().any()

np.True_

In [110]:
#Columna---review_scores_rating------
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ff")
#Filtro por columnas
data["review_scores_rating"] =data["review_scores_rating"].fillna(method="ffill")

C:\Users\HP\AppData\Local\Temp\ipykernel_4040\3051748763.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["review_scores_rating"] =data["review_scores_rating"].fillna(method="ffill")

In [114]:
#Identificar cuantos valores nulos tengo por columnas
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(2340)

In [115]:
data['review_scores_accuracy'].isnull().any()

np.True_

In [116]:
#Columna---review_scores_accuracy------
#Sustituir valores nulos con la media
data["review_scores_accuracy"]=data["review_scores_accuracy"].fillna(round(data["review_scores_accuracy"].mean(),2))

In [117]:
#Identificar cuantos valores nulos tengo por columnas
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(1560)

In [118]:
data['review_scores_cleanliness'].isnull().any()

np.True_

In [119]:
#Columna---review_scores_cleanliness------
#Sustituir valores nulos con la media
data["review_scores_cleanliness"]=data["review_scores_cleanliness"].fillna(round(data["review_scores_cleanliness"].median(),2))

In [120]:
#Identificar cuantos valores nulos tengo por columnas
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(780)

In [121]:
data['review_scores_checkin'].isnull().any()

np.True_

In [124]:
#Columna---review_scores_checkin------
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ff")
#Filtro por columnas
data["review_scores_checkin"] =data["review_scores_checkin"].fillna(method="ffill")

C:\Users\HP\AppData\Local\Temp\ipykernel_4040\4220368784.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data["review_scores_checkin"] =data["review_scores_checkin"].fillna(method="ffill")

In [125]:
#Identificar cuantos valores nulos tengo por columnas
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(0)

In [126]:
#Identificar cuantos valores nulos tengo por columnas
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(0)

In [127]:
#Convertir Dataframe a csv
data.to_csv("Actividad_3.2(PAIS_VENECIA).csv")